[submodule "plugged/badwolf"]
	path = plugged/badwolf
	url = https://github.com/sjl/badwolf
[submodule "plugged/supertab"]
	path = plugged/supertab
	url = https://github.com/ervandew/supertab
[submodule "plugged/vim-repeat"]
	path = plugged/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "plugged/vim-flake8"]
	path = plugged/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "plugged/vim-airline"]
	path = plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "plugged/vim-autoclose"]
	path = plugged/vim-autoclose
	url = https://github.com/townk/vim-autoclose
[submodule "plugged/vim-hybrid"]
	path = plugged/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid
[submodule "plugged/nerdtree"]
	path = plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "plugged/auto-pairs"]
	path = plugged/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
